* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
}

#canvas {
    border: 2px solid black;
}

.presentation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed black;
    padding: 20px;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.menu {
    width: 90%;
    height: 90%;
    background-color: white;
}

.gameSettingsContainer {
    width: 100%;
    height: 8%;
}

.playerSettingsContainer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow-y: auto;
}

.confirmButtonContainer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerCardContainer {
    min-width: 300px;
    width: 20%;
    height: 45%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    border: 5px solid;
    border-radius: 15px;
}

.input {
    padding: 10px;
    border: 2px solid;
    border-radius: 15px;
}

.button {
    display: block;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #daa520;
    color: white;
    font-weight: bold;
    border: none;
}

.button:hover {
    background-color: #c99410;
}

.button:active {
    background-color: #b88300;
}

.revealButton {
    color: lightgray;
    user-select: none;
}